<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="jumbotron jumbotron-fluid bg-success text-light">
  <div class="container">
    <h1 class="display-4">Breakaway</h1>
    <p class="lead">Click here to pages to start writing ideas and takss that you would like to breakaway from your mind.</p>
  </div>
</div>
</div>

<div class="container mt-5">
  <p>We are a passionate company that provides quality writing application for the web. We ensure that you can get your the job done and remember about things later. Breakaway stand out because we don't sell users data and keep everything simple and easy to use</p>
</div>


<%- include('./partials/footer.ejs') %>
