<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>


<div class="container-fluid	 mt-5">
  <div class="row align-items-center">
    <div class="col-sm ml-5 mr-5">
      <h1>Secure your Thoughts & Inspiration </h1>
      <p>Our goal for Breakaway is to be a clean and effect Note-taking that helps you write your ideas and thoughts effectively. We did this by getting rid of unnecessary features and distractions to help you remember and improve on them later. </p>
      <button type="button" class="btn btn-success mt-3 mr-3">Write Now</button>
      <button type="button" class="btn btn-outline-success mt-3">Contact</button>
    </div>
    <div class="col-sm ml-5 mr-5">
      <img class="img-thumbnail border-0" src="/images/differen2-compressor.png" alt="">
    </div>
  </div>
</div>


<%- include('./partials/footer.ejs') %>
